body {
    background-color : #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
    margin-top: 10vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#juices-grid {
    --cell-size: 30vmin;
	--cell-gap: 2vmin;
	--row-count: 2;
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, var(--cell-size));
	grid-template-rows: repeat(var(--row-count), var(--cell-size));
	gap: var(--cell-gap);
	border-radius: 1vmin;
	vertical-align: 10vh;
}

.cell {
    background-color: #444;
	border-radius: 1vmin;
	text-align: center;
	font-size: 12px;
	color: lightsteelblue;
}

.cell:hover {
	background-color: #6b6868;
	border-radius: 1vmin;
	text-align: center;
}

#coins {
    margin-right: 10vmin;
    text-align: center;
	display: grid;
	gap: 2vmin;
}

#options {
    margin-left: 10vmin;
    text-align: center;
}

.blocked {
	width: 15vmin;
	opacity: 0.5;
}

.bcell {
    background-color: #3f3535;
	border-radius: 1vmin;
	text-align: center;
	font-size: 12px;
}

.buybutton {
	background-color: #9ec782; /* Green */
	border: none;
	color: #3f3535;
	padding: 5px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

  .buybutton:hover {
	background-color: #c1f39f; 
  }

  .blockedbtn {
	background-color: #455739; 
	border: none;
	color: #201b1b;
	padding: 5px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

  .price {
	color:chocolate;
	font-size: small;
  }

  #sumdisplay {
	background-color: black;
	border: 2px solid rgb(207, 204, 201);
	border-radius: 1vmin;
	color:#c1f39f;
	width: 20vmin;
	height: 10vmin;
	text-align: right;
  }

  #psum {
	font-size: 26px;
  }

  .coin {
	background-color:darkkhaki;
	border: 2px solid lightgray;
	border-radius: 5vmin;
	color:#462904;
	width: 20vmin;
	height: 3vmin;
	font-size: 28px;
  }

  .coin:hover {
	background-color: rgb(243, 237, 154);
  }

  .bcoin {
	background-color:rgb(75, 72, 41);
	border: 2px solid rgb(116, 114, 114);
	border-radius: 5vmin;
	color:#1b1002;
	width: 20vmin;
	height: 3vmin;
	font-size: 28px;
  }

  #paystatus {
	color: forestgreen;
	font-size: 14px;
	width: 20vmin;
	height: 10vmin;
  }

  .image {
	width: 15vmin;
  }

  .navbutton {
	background-color: #7f8fd6; /* Green */
	border: none;
	color: #0a1744;
	padding: 5px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
  }

  .navbutton:hover {
	background-color: #a1acdb;
	border: none;
	color: #0a1744;
	padding: 5px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
  }